* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Heebo', sans-serif;
}

.heading {
    font-size: 40px;
    font-weight: bold;
}

.subheading {
    font-size: 30px;
    font-weight: bold;
}

.text {
    font-size: 20px;
}


/* NAVIGATION BAR */
.navbar {
    transition: all 0.4s ease;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    font-weight: bold;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 22px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.navbar li a:hover {
    color: rgb(253, 119, 9);
}


/* ABOUT */
.about {
    margin-top: 5%;
}

.about-info {
    text-align: justify;
    float: left;
    width: 60%;
}

.about-image {
    float: left;
    width: 40%;
    text-align: center;
}

.about-image img {
    margin-top: 12%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
}


/* PROJECTS */
.projects {
    margin-top: 5%;
    width: 60%;
    float: left;
}

.project {
    display: table;
    margin-top: 5%;
    width: 100%;
}

.project-image {
    float: left;
    width: 30%;
    display: table-cell;
}

.project-image img {
    width: 80%;
    height: 80%;
    border-radius: 5%;
    border: 2px outset orange;
    box-shadow: 3px 3px 1px rgb(211, 211, 211);
}

.project-info {
    float: left;
    width: 70%;
    display: table-cell;
    text-align: justify;
}

.project-heading {
    font-size: 20px;
    font-weight: bold;
}
